<ul class="list-group">
  <li
    [class]="getAllBrandClass()"
    (click)="removeCurrentBrand()"
    routerLink="/cars"
  >
    Bütün avtomobillər
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
    
    
  </li>
 
</ul>

<!-- <table>
    <thead> 
      <tr>
        <th>Id</th>
        <th>Marka</th>
      </tr>
    </thead>
    <tr >
      <td>{{brand.brandId}}</td>
      <td>{{brand.brandName}}</td>
    </tr>
  </table>  

<picture>
    <source media="(min-width: )" srcset="">
    <img src="" alt="">
  </picture>

-->
